/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    background: black;
    color: #33ff33;
    font-family: monospace;
    overflow-x: hidden;
    text-align: center;
  }
  
  .terminal {
    padding: 1rem;
    white-space: pre-wrap;
  }
  
  .input-line {
    display: flex;
    align-items: left;
  }
  
  .terminal-input {
    background: transparent;
    border: none;
    color: #33ff33;
    font: inherit;
    outline: none;
    flex: 1;
  }

  @keyframes blink {
    50% { opacity: 0; }
  }
  